<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="vip.alphax.modular.system.mapper.OrganizationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="vip.alphax.modular.system.entity.Organization">
        <id column="organization_id" property="organizationId" />
        <result column="pid" property="pid" />
        <result column="name" property="name" />
        <result column="seq" property="seq" />
        <result column="flag" property="flag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        organization_id, pid, name, seq, flag
    </sql>

</mapper>
